<head>
    <meta charset="UTF-8">
</head>
<div class="jumbotron" id="particles-js" style="height: 400px">
    <div class="container">
        <div class="weired">
            <h2 style="color: white">Информация online</h2>
            <p>Здесь представлена информация с последних исследований в реальном времени</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="col-sx-12">
       <div id="chart" style="width:800px;height:200px;" class="epoch category10"></div>
    </div>
    <div class="col-xs-12">
        <ul id="data"></ul>
    </div>    
</div>